<div class="container">
	<div class="row">
		<div class="col-12">
			<nav aria-label="breadcrumb" class="">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/">Chords</a></li>
					<li class="breadcrumb-item"><a href="/artists/{{letter}}">Artists on &laquo;<span class="text-uppercase">{{letter}}</span>&raquo;</a></li>
					<li class="breadcrumb-item"><a href="/chords/{{song.artist.slug}}">{{song.artist.name}}</a></li>
					<li class="breadcrumb-item active" aria-current="page">{{song.name}}</li>
				</ol>
			</nav>
		</div>
	</div>
	<div class="row">
		<div class="col-12">

			<h1 class="h3">{{song.artist.name}} - {{song.name}} Guitar Chords</h1>
		</div>
	</div>
	<div class="row my-3">
		{{#if song.artist.spotify_id}}
			{{#with song.artist}}
				{{>artistSmall}}
			{{/with}}
			<!--</div>-->
		{{/if}}
	</div>
	<div class="row">
		<div class="col-12">
			<!--<div class="media my-4">-->
			<!--<img src="/images/artists/320/{{song.artist.slug}}.jpg" class="img-fluid rounded" style="width: 80px;" title="{{artist.name}} Artist Photo" alt="{{artist.name}}">-->

			<!--<div class="media-body ml-3">-->
			<!--<a class="" style="font-size: 1.4em" href="/artist/{{song.artist.slug}}">{{song.artist.name}}</a>-->
			<!--<div><span class="font-weight-bold">Genres:</span><span class="">-->
						<!--{{#each song.artist.genres}}-->
			<!--{{this}}{{#if @last}}{{else}}, {{/if}}-->
						<!--{{/each}}-->
			<!--</span>-->
			<!--</div>-->
			<!--</div>-->



			{{#if hasVersions}}
				<div class="mb-1">
					<span class="">Song versions:</span>
					{{#each versions}}
						<a href="/chords/{{../song.artist.slug}}/{{slug}}" class="btn btn-sm  {{#if activeVersion}} btn-outline-info {{else}} btn-light  {{/if}} ">{{version}} </a>
					{{/each}}
				</div>
			{{/if}}
		</div>
		<div class="col-12">Chords:
			{{#each chords}}
				<em>{{this}}</em>{{#if @last}}{{else}}, {{/if}}
			{{/each}}
			<!--<div class="mb-3">-->
			<!--<a href="#"><i class="far fa-star" style="color: #ffaa14"></i> Add song to favorites </a>-->
			<!--</div>-->
			<div id="chords-wrapper" class="mt-3">
				<!--<button class="btn-scroll btn btn-outline-success">Play</button>-->
				<pre id="chords" class="d-inline" style="">{{{text}}}</pre>
			</div>
			<h4 class="mt-5 h6">More chords by {{song.artist.name}}:</h4>
			<ul class="list-unstyled">
				{{#each moreSongs}}
					<li><a href="/chords/{{../song.artist.slug}}/{{slug}}">{{name}}</a></li>
				{{/each}}
			</ul>
		</div>
	</div>
</div>
<style>

	body {
		margin-bottom: 40px; /* Margin bottom by footer height */
	}

	/*footer .navbar-collapse.in {*/
	/*bottom: 70px;*/
	/*position: absolute;*/
	/*background-color: #333;*/
	/*width: 100%;*/
	/*}*/
</style>
<nav class="navbar fixed-bottom navbar-expand-sm navbar-light bg-light">

	<div class="small float-left d-none d-md-inline" style="position: fixed"><span class="text-muted">AutoScroll Speed:</span> <span class="scroll-speed">5</span> <span class="text-muted ml-1">(use &larr;, &rarr; and "Enter" keys)</span></div>
	<div class="small float-left d-inline d-md-none" style="position: fixed">
		<button disabled class=" scroll-speed btn btn-sm btn-outline-secondary">5</button>
	</div>
	<div class="text-center mx-auto">
		<button class="speed-minus btn btn-outline-success btn-sm"><span style="font-size: 1.3em; line-height: 1em;">&dash;</span></button>
		<button class="btn-scroll btn btn-success btn-sm " style=""><i class="fas fa-play"></i> Start AutoScroll <span class="d-xl-inline d-md-inline d-sm-none d-none">(Press Enter)</span></button>
		<button class="speed-plus btn btn-outline-success btn-sm"><span style="font-size: 1.3em; line-height: 1em;">+</span></button>
	</div>


</nav>

<script>
	var scroller = false;
	var scrollSpeed = 5;

	var runAfterjQueryLoaded = function () {

		resizeFont();
		$(".btn-scroll").click(function (event) {
			if (!scroller) {
				$(this).html('<i class="fas fa-pause"></i> Stop AutoScroll <span class="d-xl-inline d-md-inline d-sm-none d-none">(Press Enter)</span>')
				scroller = startScroll(scroller, getIntervalFromSpeed(scrollSpeed));
			} else {
				$(this).html('<i class="fas fa-play"></i> Start AutoScroll <span class="d-xl-inline d-md-inline d-sm-none d-none">(Press Enter)</span>')
				clearInterval(scroller);
				scroller = false;
			}
		});
		window.onkeydown = function (e) {
			return !(e.keyCode == 13 && e.target == document.body);
		};


		$('.speed-plus').click(function (e) {
			speedUp();
		});

		$('.speed-minus').click(function (e) {
			speedDown();
		});

		$('body').keyup(function (e) {
			if (e.keyCode === 13) {
				if (!$('input').is(':focus')) {
					$(".btn-scroll").trigger('click');
				}
			} else if (e.keyCode === 37) { // left
				speedDown();

			} else if (e.keyCode === 39) { // left
				speedUp();
			}
		});
	}

	function resizeFont() {
		var divWidth = $("#chords-wrapper").width();
		var $text = $("#chords");
		var fontSize = 18;
		var fontSizeMin = 11;

		console.log($text.width() + ' - ' + divWidth)
		while ($text.width() > divWidth && fontSize >= fontSizeMin) {
			$text.css("font-size", fontSize -= 0.5);
		}
		$text.css("display", "inline");
	}

	function startScroll(object, interval) {
		if (object) {
			clearInterval(object);
		}
		object = setInterval(() => {
			var y = $(window).scrollTop();
			$(window).scrollTop(y + 1);

		}, interval);
		return object;

	}

	function speedUp() {
		if (scrollSpeed < 9) {
			scrollSpeed = scrollSpeed + 1;
		} else {
			scrollSpeed = 9
		}
		$('.scroll-speed').text(scrollSpeed);
		if (scroller) {
			scroller = startScroll(scroller, getIntervalFromSpeed(scrollSpeed))
		}
	}

	function speedDown() {
		if (scrollSpeed > 1) {
			scrollSpeed = scrollSpeed - 1;
		} else {
			scrollSpeed = 1
		}
		$('.scroll-speed').text(scrollSpeed);
		if (scroller) {
			scroller = startScroll(scroller, getIntervalFromSpeed(scrollSpeed))
		}
	}

	function getIntervalFromSpeed(speed) {
		var scrollSpeed = (200 - 20 * speed) > 20 ? (200 - 20 * speed) : 20;
		return scrollSpeed;
	}
</script>
