<div class="col-lg-4 col-md-6 col-sm-12">
	<div class="row mb-2">
		<div class="col-auto">

			<a href="/artist/{{slug}}">
				<div class="rounded thumb thumb-small" style="background-image: url('/images/artists/160/{{slug}}.jpg');"></div>
			</a>
		</div>
		<div class="col pl-2">
			<h4 class="h6"><a href="/chords/{{slug}}">{{name}}</a></h4>
			<p class="small text-capitalize">{{shortGenres genres}}</p>
		</div>
	</div>
</div>
