<div class="container">
	<div class="row">
		<div class="col-12 mt-5 text-center">
			<h1 class="h5">
				<img src="/images/cloud-note.svg" style="width: 24px; margin-top: -4px;" alt="Chords.Cloud Logo" title="Chords.Cloud">
				Chords.Cloud</h1>
			<h2 class="h2 mt-3">Acoustic Guitar Chords & Lyrics Database</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 offset-md-3 align-content-center">
			<form class="form-inline mt-3 mb-4" action="/search">
				<div class="input-group input-group-lg" style="width: 100%;">
					<input class="form-control" name="q" placeholder="Find your artists and songs...">
					<div class="input-group-append">

						<button class="btn btn-outline-primary" type="submit">Search</button>
					</div>
				</div>
			</form>
		</div>
		<div class="col-12 text-center">
			<ul class="list-inline">
				<!--<li class="list-inline-item">:</li>-->
				<li>Find your artist:</li>
				{{#each charsEn}}
					<li class="list-inline-item m-0">
						<a href="/artists/{{this}}" class="text-capitalize"><strong>{{this}}</strong></a></a>
					</li>
				{{/each}}
			</ul>
		</div>
	</div>
	<div class="row my-5">
		<div class="col-12 mb-3">
			<h4 class="text-center">Popular Artists</h4>
		</div>
		{{#each popularArtists}}
			{{>artistSmall}}
		{{/each}}
	</div>

</div>
