<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	{{#if canonical}}
		<link rel="canonical" href="{{canonical}}">
	{{/if}}
	{{#if amphtml}}
		<link rel="amphtml" href="{{amphtml}}">
	{{/if}}

	{{#if description}}
		<meta name="description" content="{{description}}">
	{{/if}}

	<link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
	<link rel="manifest" href="/images/favicons/site.webmanifest">
	<link rel="mask-icon" href="/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="shortcut icon" href="/images/favicons/favicon.ico">
	<meta name="msapplication-TileColor" content="#ffc40d">
	<meta name="msapplication-config" content="/images/favicons/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">
	<link rel="stylesheet" href="/stylesheets/theme.bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/style.css">
	<style>
		body {
			font-family: Raleway;
		}

		#chords {
			font-family: Arial;
			line-height: 1em !important;
		}

		.breadcrumb {
			background: transparent;
			padding-left: 0;
		}
	</style>

	<title>{{title}}</title>
	<!-- Google Tag Manager -->
	<script>(function (w, d, s, l, i) {
		w[l] = w[l] || [];
		w[l].push({
			'gtm.start':
							new Date().getTime(), event: 'gtm.js'
		});
		var f = d.getElementsByTagName(s)[0],
						j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
		j.async = true;
		j.src =
						'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
		f.parentNode.insertBefore(j, f);
	})(window, document, 'script', 'dataLayer', 'GTM-T67PLP7');</script>
	<!-- End Google Tag Manager -->

	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<script>
		(adsbygoogle = window.adsbygoogle || []).push({
			google_ad_client: "ca-pub-3435596736163213",
			enable_page_level_ads: true
		});
	</script>
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript>
	<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T67PLP7"
	        height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="/">
		<!--<i class="fas fa-cloud" style="color: #5fb7fe"></i>-->
		<img src="/images/cloud-note.svg" style="width: 32px; margin-top: -6px;">
		Chords.Cloud</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<!--<li class="nav-item active">-->
			<!--<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>-->
			<!--</li>-->
			<!--<li class="nav-item">-->
			<!--<a class="nav-link" href="/"><i class="far fa-star"></i> Favorites</a>-->
			<!--</li>-->
		</ul>
		{{#if hideSearch}}
		{{else}}
			<form class="form-inline" action="/search">
				<div class="input-group" style="max-width: 420px;">
					<input class="form-control" name="q" placeholder="Find your artists and songs..." style="min-width: 300px">
					<div class="input-group-append">

						<button class="btn btn-outline-primary" type="submit">Search</button>
					</div>
				</div>
			</form>
			<!--<form class="form-inline" autocomplete="off">-->
			<!--<input class="form-control typeahead" size="40" autocomplete="no" placeholder="Start typing song/artist name...">-->
			<!--&lt;!&ndash;<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>&ndash;&gt;-->
			<!--</form>-->
		{{/if}}
	</div>
</nav>

{{{body}}}

<footer class="mt-5">
	<nav class="navbar navbar-expand-lg navbar-light bg-light  py-3">
		&copy; 2018 chords.cloud
	</nav>
</footer>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="/javascripts/jquery.collapser.min.js"></script>

<script>
	$(document).ready(function () {
		if (typeof runAfterjQueryLoaded === 'function') {
			runAfterjQueryLoaded();
		}
	});
</script>

</body>
</html>
