<div class="container">
    <div class="row">
        <div class="col-12 mt-3">
            <h2 class="h3">Search results:</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form class="form-inline mt-3 mb-4" action="/search">
                <div class="input-group input-group-lg" style="width: 100%;">
                    <input class="form-control"  name="q" placeholder="Find your artists and songs..." value="{{q}}">
                    <div class="input-group-append">

                        <button class="btn btn-outline-primary" type="submit">Search</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-12">
            <div id="search-results-artists">
                <div class="progress mt-3" style="height: 32px;">
                    <div id="progress-bar-artists" class="progress-bar progress-bar-success progress-bar-striped progress-bar-animated active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%; padding-left: 24px;">
                        <span id="current-progress"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div id="search-results-songs">
                <div id="search-results-songs">
                    <div class="progress mt-3" style="height: 32px;">
                        <div id="progress-bar-songs" class="progress-bar progress-bar-success progress-bar-striped progress-bar-animated active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%; padding-left: 24px;">
                            <span id="current-progress"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    var runAfterjQueryLoaded = function () {
        var queryString = encodeURI('{{q}}');
        $('#search-results-artists').load('/ajax/search/artists?q=' + queryString, function (data) {

        })

        $('#search-results-songs').load('/ajax/search/songs?q=' + queryString, function (data) {

        })

        var currentProgressArtist = 0;
        var intervalArtist = setInterval(function() {
            currentProgressArtist += 10;
            $("#progress-bar-artists")
                    .css("width", currentProgressArtist + "%")
                    .attr("aria-valuenow", currentProgressArtist)
                    .text(currentProgressArtist + "% Artists Search Complete");
            if (currentProgressArtist >= 100)
                clearInterval(intervalArtist);
        }, 100);

        var currentProgressSong = 0;
        var songsCount = 520411;
        var intervalSong = setInterval(function() {
            currentProgressSong += 1;
            $("#progress-bar-songs")
                    .css("width", currentProgressSong + "%")
                    .attr("aria-valuenow", currentProgressSong)
                    .text(currentProgressSong + '% Song Search Complete: ' + Math.round(songsCount / 100 * currentProgressSong) + ' / ' + songsCount + ' Songs');
            if (currentProgressSong >= 100)
                clearInterval(intervalSong);
        }, 100);
    };
</script>