body {
    font-family: Raleway;
}
#chords {
    font-family: Arial;
    line-height: 1em !important;
}
.breadcrumb {
    background: transparent;
    padding-left: 0;
}

.thumb {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #eee;
}

.thumb-small {
    height: 80px;
    width: 80px;
}

.thumb-large {
    height: 320px;
    width: 320px;
}
em {
    font-weight: 700;
}
