<!doctype html>
<html ⚡>
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="canonical" href="https://chords.cloud/song/{{song.artist.slug}}/{{song.slug}}">
    <link rel="amphtml" href="https://chords.cloud/amp/song/{{song.artist.slug}}/{{song.slug}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,700">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <style amp-custom>
        body {
            font-family: Raleway;
        }

        h1 {
            /*color: red;*/
            /*font-family: Arial;*/
            font-size: 1.6em;
        }

        pre {
            font-family: Arial;
        }

        header {
            height: 48px;
            /*background: #eee;*/
            border-bottom: 1px solid #dedede;
        }

        header a amp-img, header a span {
            vertical-align: middle;
        }

        header a {
            margin-left: 12px;
            margin-top: 8px;
            text-decoration: none;
            display: inline-block;
            color: #333;
        }

        header a span {
            margin-left: 5px;
            font-size: 1.2em;
        }

        article {
            padding: 0 24px;
            padding-bottom: 48px;
        }

        article pre {
            line-height: 1.4em;
            white-space: pre-wrap;
            white-space: -moz-pre-wrap;
            white-space: -pre-wrap;
            white-space: -o-pre-wrap;
            word-wrap: break-word;
        }

        a#more-chords {
            font-weight: 700;
        }
    </style>

    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
    <script async custom-element="amp-auto-ads" src="https://cdn.ampproject.org/v0/amp-auto-ads-0.1.js"></script>
    <script async src="https://cdn.ampproject.org/v0.js"></script>
</head>
<body>
<header>
    <a href="/" target="_blank">
        <amp-img src=/images/cloud-note.svg width=32 height=32></amp-img>
        <span>Chords.Cloud</span>
    </a>
</header>
<article>
    <h1>{{song.artist.name}} - {{song.name}} Guitar Chords {{#if hasVersions}} (ver. {{song.version}}){{/if}}</h1>
    <pre>{{{text}}}</pre>
    <a href="/chords/{{song.artist.slug}}" target="_blank" id="more-chords">More guitar chords by {{song.artist.name}} &rarr;</a>
</article>

<amp-analytics type="googleanalytics">
    <script type="application/json">
        {
            "vars": {
                "account": "UA-126193096-1"
            },
            "triggers": {
                "trackPageview": {
                    "on": "visible",
                    "request": "pageview"
                }
            }
        }
    </script>
</amp-analytics>

<amp-auto-ads type="adsense"
              data-ad-client="ca-pub-3435596736163213">
</amp-auto-ads>

</body>
</html>
