<div class="container">
	<div class="row">
		<div class="col-12">
			<nav aria-label="breadcrumb" class="">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/">Chords</a></li>
					<li class="breadcrumb-item active" aria-current="page">Artists on &laquo;<span class="text-uppercase">{{letter}}</span>&raquo;</li>
				</ol>
			</nav>
		</div>
	</div>
	<div class="row">
		<div class="col-12 mb-3">
			Find your artist:
			<ul class="list-inline d-inline small">
				<!--<li class="list-inline-item">:</li>-->
				<!--<li></li>-->
				{{#each charsEn}}
					<li class="list-inline-item m-0">
						<a href="/artists/{{this}}" class="text-capitalize"><strong>{{this}}</strong></a></a>
					</li>
				{{/each}}
			</ul>
		</div>
	</div>
	<div class="row mb-3">
		<div class="col-12 mb-3">
			<h4 class="">Popular Artists on &laquo;<span class="text-uppercase">{{letter}}</span>&raquo;</h4>
		</div>
		{{#each popularArtists}}
			{{>artistSmall}}
		{{/each}}
	</div>

	<div class="row">
		<div class="col-12">
			<h1 class="h4 mb-3">All Artists on <span class="text-uppercase">&laquo;{{letter}}&raquo;</span></h1>
			<ul class="row list-unstyled">
				{{#each artists}}
					<li class=" mb-1 list-item col-md-4 col-lg-3 col-sm-6 col-6 small"><a href="/chords/{{slug}}">{{name}}</a></li>
				{{/each}}
			</ul>
		</div>
	</div>

</div>
