<div class="container">
	<div class="row">
		<div class="col-12">
			<nav aria-label="breadcrumb" class="">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/">Chords</a></li>
					<li class="breadcrumb-item"><a href="/artists/{{letter}}">Artists on &laquo;<span class="text-uppercase">{{letter}}</span>&raquo;</a></li>
					<li class="breadcrumb-item active" aria-current="page">{{artist.name}}</li>
				</ol>
			</nav>
		</div>

		<div class="col-12">
			<h1 class="h3">{{artist.name}} Guitar Chords</h1>
			{{#if artist.spotify_id}}

				<div class="mb-3">

					<div class="row">
						<div class="col-lg-3 col-mg-4 col-sm-5 col-12 my-3">
							<img src="/images/artists/640/{{artist.slug}}.jpg" class="img-fluid rounded" title="{{artist.name}} Artist Photo" alt="{{artist.name}}">
						</div>
						<div class="col-lg-9 col-mg-8 col-sm-7  col-12 my-3">

							{{#if artist.description}}
								<h2 class="h5 ">Biography</h2>
							{{/if}}
							<span class="small artist-description">{{{stripTags artist.description}}}</span>
							{{#if artist.genres}}
								<div class="mt-3"><span class="font-weight-bold">Genres:</span><span class="">
									{{#each artist.genres}}
										<span class="text-capitalize">{{this}}</span>{{#if @last}}{{else}}, {{/if}}
									{{/each}}
								</span>
								</div>
							{{/if}}
						</div>
					</div>
				</div>

				<h2 class="h5">Guitar Chords:</h2>
			{{/if}}

			<table class="table table-sm table-hover">
				<tbody>
				{{#each artist.songs}}
					<tr>
						<td>
							<a href="/chords/{{../artist.slug}}/{{slug}}">{{name}}{{#if show_version}} (ver. {{version}}){{/if}}</a>
						</td>
					</tr>
				{{/each}}
				</tbody>
			</table>
		</div>
	</div>
</div>
<script>
	var runAfterjQueryLoaded = function () {
		$('.artist-description').collapser({
			mode: 'words',
			truncate: 90,
			showText: 'Show full biography',
			hideText: 'Hide biography',
			// changeText: 1
		});
	};
</script>
