<h4>Songs:</h4>
<table class="table table-sm table-hover">
    <tbody>
    {{#each songs}}
        <tr>
            <td>
                <a href="/chords/{{artist_slug}}">{{artist_name}}</a>  &ndash; <a href="/chords/{{artist_slug}}/{{slug}}">{{name}}</a>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>

{{json}}
